<div class="w-full h-[89vh]" #map></div>
<section class="my-2" id="controls">
  <h2 class="text-black font-bold">
    Zoom
    <small class="text-xs text-gray-500 font-normal">
      {{ zoom() | number : "1.0-0" }}
    </small>
  </h2>
  <input
    type="range"
    min="1"
    max="19"
    [value]="zoom()"
    className="range range-neutral"
    #textInput
    (input)="onZoomChange(textInput.value)"
  />
  <h2 class="font-bold text-black">Cordenadas:</h2>
  <pre
    >{{
      {
        lat: cordinates().lat | number : "1.4-4",
        lng: cordinates().lng | number : "1.4-4"
      } | json
    }}
  </pre>
</section>
